<h1 style="text-align: center;">Men's Clothing</h1>
<br>
<P style="text-align: center; margin-left: 100px; margin-right: 100px;">En Men's Clothing, nos dedicamos a ofrecerte lo mejor en artículos variados para hombres. Desde ropa elegante hasta accesorios modernos y útiles,
  pasando por gadgets de última tecnología, nos esforzamos por brindarte productos que complementen tu estilo de vida de manera única y excepcional.
  Nuestro compromiso con la calidad y la excelencia nos impulsa a seleccionar cuidadosamente cada artículo que ofrecemos,
  asegurándonos de que cumpla con los más altos estándares de durabilidad, funcionalidad y estilo. Nos enorgullecemos de ofrecerte una amplia gama de productos que reflejan las últimas 
  tendencias de la moda masculina, así como las innovaciones tecnológicas más recientes.</P>


<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/descuento-tirante.jpg" class="d-block w-100" alt="descuento-tirante" >
      </div>
      <div class="carousel-item">
        <img src="assets/mochilas.jpg" class="d-block w-100" alt="mochilas" >
      </div>
      <div class="carousel-item">
        <img src="assets/reloj.jpg" class="d-block w-100" alt="reloj">
      </div>
      <div class="carousel-item">
        <img src="assets/productos-varios.jpg" class="d-block w-100" alt="prod-varios">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>